.button{
    width: 100px;
                height: 40px;
                background-color: #3e8afa;
                border-radius: 10px;
                line-height: 40px;
                text-align: center;
                color: #fff;
                cursor: pointer;
}