.section-slider{

    &-item{
        margin: 40px 0;
        &-header{
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-left{
                display: flex;
                align-items: center;
                gap: 20px;

                .show-movie{
                    display: flex;
                    gap: 20px;
                    .movie{
                        background-color: #fff;
                        color: #000;
                        border: 1px solid #000;
                    }
                }
            }
        }
    }
}