.view-more{
    margin-top: 50px;
    &-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .view-btn{
        margin: 50px 0;
        display: flex;
        justify-content: center;
    }
}