*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: unset;
}


ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
p{
    margin-bottom: 0;
}
.app{
  width: 100%;
  margin: auto;
  background-color: #0b0b0b;
  color: #fff;
  overflow: hidden;
}

img {
    display: block;
    max-width: 100%;
}

.container{
    max-width: 1600px;
    margin: auto;
}